* {
  box-sizing: border-box;
}

html,
body {
  overscroll-behavior-y: contain;
  margin: 0;
  padding: 0;
  max-width: 100%;
  user-select: none;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;

  overflow-x: hidden;
}

#root {
  background: transparent;
  overflow: hidden;
  width: 100%;
  cursor: url("https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png")
      39 39,
    auto;
}
#root > .nft-card {
  position: absolute;
  width: 75vw;
  height: 80vh;
  will-change: transform;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  z-index: 999;
}

#root > .nft-card > .nft-card-child {
  z-index: 999;

  background-color: rgb(0, 213, 255);
  background-size: auto 85%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 45vh;
  max-width: 350px;
  height: 85vh;
  max-height: 570px;
  will-change: transform;
  border-radius: 10px;
  border: 2px solid #fff;

  border-radius: 10px;
  box-shadow: 0 11.5px 10px -12px rgb(20, 154, 180),
    0 10px 15px -10px rgb(0, 0, 0);
}

@media screen and (max-width: 768px) {
  #root > .nft-card {
    position: absolute;
    width: 70vw;
    height: 80vh;
    will-change: transform;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    z-index: 999;
  }
  #root > .nft-card > .nft-card-child {
    z-index: 999;
    background-color: rgb(0, 213, 255);

    background-size: auto 85%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 46vw;
    max-width: 220px;
    height: 40vh;
    max-height: 570px;
    will-change: transform;
    border: 1px solid #00d3ff;

    border-radius: 10px;
    box-shadow: 0 12.5px 10px -10px rgb(59, 137, 255),
      0 10px 10px -10px rgba(0, 0, 0, 0.493);
  }
}
